<h1>Welcome to CocoaHeads: Atlanta.</h1>

<% form_tag session_path do -%>
<p>Log in using one of the following OpenID providers, or enter your OpenID URL:</p>
<%= open_id_link_bar(:login) %><br />

<p>
  <%= label_tag 'openid_identifier', 'OpenID URL' %><br />
  <%= text_field_tag "openid_identifier", nil, :size => 50 %>
</p>

<% if request.port == 3000 -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>
<% end -%>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>
