<% form_for(meeting) do |f| %>
  <%= f.error_messages %>

  <div class="form_field">
    <div><%= label_tag "meeting_title", "Title" %></div>
    <div><%= f.text_field :title %></div>
  </div>
  <div class="form_field">
    <div><%= label_tag "meeting_venue_id", "Venue" %></div>
    <div>
      <%= f.select("venue_id", Venue.all.collect {|v| [ v.name, v.id ] },
         {:include_blank => 'Select a venue'}) %>
      <span style="margin-left: 0.5em;">
        or &nbsp;<%= link_to "create one", new_venue_path %>
      </span>
    </div>
  </div>
  <div class="form_field">
    <div><%= label_tag "meeting_scheduled_at_1i", "Meeting Date and Time" %></div>
    <div><%= f.datetime_select :scheduled_at %></div>
  </div>
  <div class="form_field">
    <div>
      <%= label_tag "meeting_details", "Details" %>
      <span>
        <a href="http://redcloth.org/textile"
           title="Textile Reference Manual for RedCloth" target="_blank">
           (Textile Markup Guide)
        </a>
      </span>
    </div>
    <div><%= f.text_area :details, :cols => 65, :rows => 18 %></div>
  </div>
  <div class="form_field">
    <%= f.submit 'Save Changes' %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', meetings_path %>
  </div>
<% end %>
