<% form_for(@meeting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :venue_id %><br />
    <%= f.select("venue_id", Venue.all.collect {|v| [ v.name, v.id ] },
                 {:include_blank => 'Select a venue'}) %>
    <span style="margin-left: 0.5em;"><%= link_to "or create one", new_venue_path %></span>
  </p>
  <p>
    <%= f.label :scheduled_at %><br />
    <%= f.datetime_select :scheduled_at %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details, :cols => 65, :rows => 18 %>
  </p>
  <p>
    <%= f.submit 'Save Changes' %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', meetings_path %>
  </p>
<% end %>
