<% if @meetings.count == 0 -%>
<!-- Handle the blank state -->
<div id="meeting_blank_state">
  <%= image_tag "meeting_blank_state.jpg", :id => "blank_state" %>
</div>
<% else -%>
<h1>Past meetings</h1>
<table style="width: 100%">
  <tr>
    <th>Date</th>
    <th>Venue</th>
    <% if logged_in? && current_user.admin? -%>
    <th colspan="3">&nbsp;</th>
    <% else -%>
    <th>&nbsp;</th>
    <% end -%>
  </tr>

  <% @meetings.each do |meeting| %>
  <tr>
    <td>
      <%=h meeting.scheduled_at.strftime("%A, %B %e, %Y") %>
    </td>
    <td>
      <%=h meeting.venue.name if meeting.venue %>
      <%= map_link(meeting.venue) if meeting.venue %>
    </td>
    <td>
      <%= link_to 'Show', meeting %>
    </td>
    <% if logged_in? && current_user.admin? -%>
    <td>
      <%= link_to 'Edit', edit_meeting_path(meeting) %>
    </td>
    <td>
      <%= link_to 'Destroy', meeting, :confirm => 'Are you sure?', :method => :delete %>
    </td>
    <% end -%>
  </tr>
  <% end -%>
</table>
<% end -%>

<% if @meetings.count == 0 -%>
<%= link_to 'Past Meetings', meetings_path %>
<% else -%>
<%= link_to 'Next Scheduled Meeting', next_meeting_path %>
<% end -%>
<% if logged_in? && current_user.admin? -%>
| <%= link_to 'New meeting', new_meeting_path %>
<% end -%>
