<% if flash[:notice] %>
<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'meeting', :object => @meeting %>

<!-- Navigation Controls -->
<%= link_to 'Past Meetings', meetings_path %>
<% if logged_in? && current_user.admin? %>
| <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'New Meeting', new_meeting_path %>
<% end %>
