<div id="meeting_header">
  <%= render :partial => 'calendar_icon', :locals => { :meeting => @meeting } %>
  <%= render :partial => 'rsvp_panel',
             :locals => { :meeting => @meeting, :attendee => @attendee } %>

  <!-- Meeting Header -->
  <div id="venue_detail_section">
      <div class="layout_labels">
        <p>What:</p>
        <p>When:</p>
        <p>Where:</p>
      </div>
      <div class="layout_fields">
        <p><%=h @meeting.title %></p>
        <p><%=h @meeting.scheduled_at.strftime("%a, %b %e, %Y %I:%M %p") %></p>
        <% if @meeting.venue %>
        <div><%=h @meeting.venue.name %></div>
        <div><% address_formatter(@meeting.venue) %></div>
        <div><%= city_state_zip_formatter(@meeting.venue) %></div>
        <div><%= map_link(@meeting.venue) %></div>
        <% end %>
      </div>
  </div>
</div>

<!-- Meeting Details -->
<div id="meeting_detail_section">
  <% if @meeting.venue && !@meeting.venue.notes.blank? %>
  <h2>Venue Information</h2>
  <div><%= render_textile(@meeting.venue.notes) %></div>
  <% end %>
  <div><%= render_textile(@meeting.details) %></div>

  <!-- Attendees -->
  <% if @attendees.count > 0 -%>
  <div id="meeting_attendees">
    <% if @meeting.scheduled_at > Time.now -%>
    <h3>Members planning to attend</h3>
    <% else -%>
    <h3>Members who were there</h3>
    <% end -%>
    <% @attendees.each_with_index do |attendee, idx| -%>
    <div id="gravatar_image_<%= idx %>"
         class="gravatar_image" onclick="showAddressCard(<%= attendee.user.id %>, <%= idx %>);">
      <%= image_tag attendee.user.gravatar_url,
          :alt => "#{attendee.user.full_name} avatar",
          :title => attendee.user.full_name %>
    </div>
    <% end -%>
    <div style="clear: left;"></div>
  </div>
  <% end -%>
</div>

<!-- Navigation Controls -->
<%= link_to 'Past Meetings', meetings_path %>
<% if @meeting.scheduled_at < Time.now %>
| <%= link_to 'Next Scheduled Meeting', next_meeting_path %>
<% end %>
<% if logged_in? && current_user.admin? %>
| <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'New Meeting', new_meeting_path %>
<% end %>
