<p>
  <h2>What:</h2>
  <%= meeting.title %>
</p>
<p>
  <h2>Where:</h2>
  <%=h meeting.venue.name %><br />
  <%= address_formatter(meeting.venue) %><br />
  <%= city_state_zip_formatter(meeting.venue) %>
</p>
<p>
  <h2>When:</h2>
  <%=h meeting.scheduled_at.strftime("%A, %B %d, %Y at %I:%M %p") %>
</p>

<h2>Venue Notes</h2>
<%= render_textile(meeting.venue.notes) if meeting.venue %>
<%= render_textile(meeting.details) %>
