<% form_for(presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :presented_on %><br />
    <%= f.date_select :presented_on %>
  </p>
  <p>
    <%= f.label :presented_by %><br />
    <%= f.text_field :presented_by %>
  </p>
  <p>
    <%= f.label :narrative %> <span><a href="http://redcloth.org/textile" title="Textile Reference Manual for RedCloth" target="_blank">(Textile Markup Guide)</a></span><br />
    <%= f.text_area :narrative, :cols => 65, :rows => 18 %>
  </p>
  <p>
    <%= f.submit submit_label %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', presentations_path %>
  </p>
<% end %>
