<% form_for(presentation) do |f| %>
  <%= f.error_messages %>

  <div class="form_field">
    <div><%= label_tag "presentation_title", "Title" %></div>
    <div><%= f.text_field :title %></div>
  </div>
  <div class="form_field">
    <div><%= label_tag "presentation_presented_on_1i", "Date of Presentation" %></div>
    <div><%= f.date_select :presented_on %></div>
  </div>
  <div class="form_field">
    <div><%= label_tag "presentation_presented_by", "Presented By" %></div>
    <div><%= f.text_field :presented_by %></div>
  </div>
  <div class="form_field">
    <div>
      <%= label_tag "presentation_narrative", "Narrative" %>
      <span>
        <a href="http://redcloth.org/textile"
           title="Textile Reference Manual for RedCloth"
           target="_blank">
           (Textile Markup Guide)
        </a>
      </span>
    </div>
    <div><%= f.text_area :narrative, :cols => 65, :rows => 18 %></div>
  </div>
  <div class="form_field">
    <%= f.submit submit_label %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', presentations_path %>
  </div>
<% end %>
