<h1>Chapter Members</h1>
<div style="border-top: 1px solid #aaa"></div>
<% @users.each do |user| %>
<div class="user_row">
  <div class="row_controls">
    <% if logged_in? && current_user.admin? -%>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
  </div>
  <div class="gravatar_image">
    <%= image_tag user.gravatar_url, :alt => "Gravatar image" %>
  </div>
  <div class="user_row_content">
    <div class="user_row_title"><%= user.full_name %></div>
    <div class="user_row_date">
      Member since <%= user.created_at.strftime("%m/%e/%Y") if user.created_at %>
      <% if logged_in? && current_user.admin? -%>
      <span style="color: #800">(<%= user.state %>)</span>
      <% end -%>
    </div>
  </div>
</div>
<br />
<% end -%>

<p>Add your profile picture using <a href="http://gravatar.com/">Gravatar &mdash; Globally Recognized Avatar</a>.</p>
