<h1>Sign up as a new member</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for :user, :url => users_path do |f| -%>
<h3>Welcome to CocoaHeads: Atlanta</h3>
<p>Registration for this site requires the use of an OpenID provider.</p>
<p>It is likely you already have one. OpenID services are provided for Google accounts (including gmail accounts), Yahoo accounts, AOL accounts and many other providers. Several of the most common providers are listed below. If you already use one of these then clicking the link will assist in filling out your OpenID identity URL. If you use a provider not listed, then enter the unique identity URL supplied by your provider. If you have any problems using your OpenID please contact the group organizer for further assistance.</p>
<p>Select your OpenID provider or enter your identity URL below:</p>
<%= open_id_link_bar(:signup) %><br />

<div id="attention">
  <p>Attention: We are currently experience unexpected problems with activating accounts with Google. We are investigating the problem.</p>
  <p>If you want to use your Google account for registration please wait until we resolve the issue, or use your unique Google OpenID or <a href="http://www.google.com/profiles" title="Google Profiles" target="_blank">Google Profile URL</a>.</p>
  </p>
</div>

<p><%= label_tag 'identity_url', 'OpenID URL' %><br/>
<%= f.text_field :identity_url, :size => 50 %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'first_name' %><br/>
<%= f.text_field :first_name %></p>

<p><%= label_tag 'last_name' %><br/>
<%= f.text_field :last_name %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>

<p>Add your profile picture using <a href="http://gravatar.com/">Gravatar &mdash; Globally Recognized Avatar</a>.</p>
