<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for :user, :url => users_path do |f| -%>
<p>
  Signup using:
  <a href="#" onclick="signupUsingGoogle(); return false;">My Google Account</a>
  or
  <a href="#" onclick="signupUsingYahoo(); return false;">My Yahoo Account</a>
</p>

<p><%= label_tag 'identity_url', 'OpenID URL' %><br/>
<%= f.text_field :identity_url, :size => 50 %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'first_name' %><br/>
<%= f.text_field :first_name %></p>

<p><%= label_tag 'last_name' %><br/>
<%= f.text_field :last_name %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
