<h1>Editing Uploaded File Description</h1>

<% form_for(@data_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :comment, "Modify uploaded file description" %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', data_files_path %>
  </p>
<% end %>

<p>Note: This page allows only editing the description of an uploaded file. If you intend to replace this file, destroy this one, and use the "Upload" page to upload a new one.</p>
