<h1>Listing data_files</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Name</th>
  </tr>

  <% @data_files.each do |data_file| %>
  <tr>
    <td><%=h data_file.comment %></td>
    <td><%= link_to data_file.name, download_data_file_path(data_file) %></td>
    <% if logged_in? && current_user.admin? -%>
    <td><%= link_to 'Show', data_file %></td>
    <td><%= link_to 'Edit', edit_data_file_path(data_file) %></td>
    <td><%= link_to 'Destroy', data_file, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  </tr>
  <% end %>
</table>

<br />

<% if logged_in? && current_user.admin? -%>
<%= link_to 'Upload File', new_data_file_path %>
<% end -%>
