<div id="tab_bar">
  <% content_tag(:div, :id => "meetings_tab", :class => tab_class_for('meetings')) do -%>
    <%= link_to "Meetings", next_meeting_path %>
  <% end -%>
  <% content_tag(:div, :id => "presentations_tab", :class => tab_class_for('presentations')) do -%>
    <%= link_to "Presentations", presentations_path %>
  <% end -%>
  <% content_tag(:div, :id => "files_tab", :class => tab_class_for('data_files')) do -%>
  <%= link_to "Files", data_files_path %>
  <% end -%>
  <% if current_user %>
  <% content_tag(:div, :id => "members_tab", :class => tab_class_for('users')) do -%>
    <%= link_to "Members", users_path %>
  <% end -%>
  <% end -%>
  <% if current_user && current_user.admin? %>
  <% content_tag(:div, :id => "venues_tab", :class => tab_class_for('venues')) do -%>
    <%= link_to "Venues", venues_path %>
  <% end -%>
  <% end -%>
</div>
