<% form_for(venue) do |f| %>
  <%= f.error_messages %>

  <p>
    <div><%= label_tag "venue_name", "Name" %></div>
    <div><%= f.text_field :name %></div>
  </p>
  <p>
    <div><%= label_tag "venue_street_address", "Street Address" %></div>
    <div><%= f.text_area :street_address, :cols => 30, :rows => 2 %></div>
  </p>
  <p>
    <div><%= label_tag "venue_city", "City" %></div>
    <div><%= f.text_field :city %></div>
  </p>
  <p>
    <div><%= label_tag "venue_state", "State" %></div>
    <div><%= f.text_field :state %></div>
  </p>
  <p>
    <div><%= label_tag "venue_zip", "Zip" %></div>
    <div><%= f.text_field :zip %></div>
  </p>
  <% unless venue.new_record? %>
  <p>
    <div>
      <%= label_tag "venue_map_url", "Map URL" %>&nbsp;
      <%= map_link(venue) %>
    </div>
    <div><%= f.text_area :map_url, :cols => 65, :rows => 4 %></div>
  </p>
  <% end %>
  <p>
    <div><%= label_tag "venue_seating_capacity", "Seating Capacity" %></div>
    <div><%= f.text_field :seating_capacity %></div>
  </p>
  <p>
    <div>
      <%= label_tag "venue_notes", "Notes" %>
      <span>
          <a href="http://redcloth.org/textile" title="Textile Reference Manual for RedCloth" target="_blank">(Textile Markup Guide)</a>
      </span>
    </div>
    <div><%= f.text_area :notes, :cols => 65, :rows => 18 %></div>
  </p>
  <p>
    <%= f.submit submit_label %>&nbsp;
    or&nbsp;
    <%= link_to 'Cancel', venues_path %>
  </p>
<% end %>
