<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="alternate"  title="RSS" href="/meetings.atom" type="application/atom+xml" />

    <title>Cocoaheads Atlanta - Atlanta, Georgia chapter of CocoaHeads: International</title>
    <meta name="description" content="CocoaHeads Atlanta is a chapter of the CocoaHeads: International Cocoa Club. Interested in programming for Mac OS X, iPad, iPhone or iPod touch you are welcome to join us." />
    <meta name="google-site-verification" content="SejTb_4xsuAVukCsgtCqaCwl30bcNRNQyrdlrct_uGE" />

    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag :defaults, :cache => true %>
  </head>
  <body>
    <div id="page_wrapper">
      <div id="banner">
        <%= link_to image_tag("chatl_logo.jpg", :id => "chatl_logo", :alt => "Cocoaheads Atlanta Logo"), "/" %>
        <%= render :partial => 'shared/user_bar' %>
        <%= render :partial => 'shared/tab_bar' %>
      </div>
      <div id="top_spacer"></div>
      <%= render :partial => 'shared/sidebar' %>
      <div id="main_content">
        <% if flash[:notice] %>
        <div class="flash_notice"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
        <div class="flash_error"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div>CocoaHeads Atlanta is a chapter of the <%= link_to_function "CocoaHeads: International Cocoa Group", "window.open('http://cocoaheads.org/')" %>.</div>
      <p>For more information please contact the Atlanta group organizer at: <a href="mailto:organizer@cocoaheadsatlanta.org">organizer@CocoaHeadsAtlanta.org</a></p>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-16356049-1");
      pageTracker._setDomainName(".cocoaheadsatlanta.org");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
