<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Cocoaheads Atlanta - Atlanta's Premier Mac OS X Developer Group
    </title><%= stylesheet_link_tag 'reset', :cache => true %><%= stylesheet_link_tag 'base', :cache => true %><%= stylesheet_link_tag 'application', :cache => true %>
  </head>
  <body>
    <div id="banner">
      <%= link_to image_tag("chatl_logo.jpg", :id => "chatl_logo", :alt => "Cocoaheads Atlanta Logo"), "/" %>
      <%= render :partial => 'shared/user_bar' %>
      <div id="tab_bar">
        <div id="presentations_tab" class="tab selected_tab">
          Presentations
        </div>
        <div id="files_tab" class="tab">
          Files
        </div>
        <div id="members_tab" class="tab">
          Members
        </div>
      </div>
    </div>
    <div id="page_wrapper">
      <%= render :partial => 'shared/sidebar' %>
      <div id="main_content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      This is a footer. It sits down below.<br />
      Nobody cares, but it&apos;s here for the show!
    </div>
  </body>
</html>
